<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="//openlayers.org/en/latest/css/ol.css" type="text/css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script>/*global hljs*/ hljs.initHighlightingOnLoad();</script>
</head>
<style>
body.example {
  padding: 1.5em;
}
.example-block {
  padding: 2em;
}
.example-block > span {
  margin-right: 10px;
}
</style>

<body class="example">
  <h2>{{ title }}</h2>
  <div id="exampleContainer" class="app"></div>
  {{{ contents }}}
  <pre>
    <code class="javascript">{{ js.source }}</code>
  </pre>
  <script src="{{js.vendors}}"></script>
  <script src="{{js.commons}}"></script>
  <script src="{{js.transpiled}}"></script>
</body>
</html>
