<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="//openlayers.org/en/latest/css/ol.css" type="text/css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
  <link rel="stylesheet" href="//openlayers.org/en/latest/css/ol.css">
  <style>
    #container {
      height: 256px;
      width: 512px;
      position: relative;
    }
     #map {
       height: 256px;
       width: 512px;
     }
     #line {
      margin-top: 3em;
     }
   </style>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script src="https://openlayers.org/en/latest/build/ol.js"></script>
  <script>/*global hljs*/ hljs.initHighlightingOnLoad();</script>
</head>
<body>
  <h2 >{{ title }}</h2>
  <div id="container">
    <div id="map"></div>
    <div id="exampleContainerInMap" class="app"></div>
  </div>
  <hr id="line"/>
  {{{ contents }}}
  <pre>
    <code class="javascript">{{ js.source }}</code>
  </pre>
  <script type="text/javascript">
    var map = new ol.Map({
      target: 'map',
      layers: [
        new ol.layer.Tile({
          source: new ol.source.OSM()
        })
      ],
      view: new ol.View({
        center: [801045, 6577113],
        zoom: 9
      })
    });
    __EXAMPLE_MAP__ = map;
  </script>
  <script src="{{js.commons}}"></script>
  <script src="{{js.transpiled}}"></script>
</body>
</html>
