<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ title }}</title>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<link href="../assets/landing_page.css" rel="stylesheet" type="text/css">
</head>
<body>
	<script>
	          $(document).ready(function() {

	              function checkWidth() {
	                  var windowWidth = $(window).width();
	                  if (windowWidth <= 767) {
	                      $("#gh-link").show();

	                  } else {
	                      $("#gh-link").hide();
	                  }
	              }
	              checkWidth();

	              $(window).resize(checkWidth);
	          });
	</script>
	<div class="collapse navbar-collapse">
		<a href="https://github.com/terrestris/react-geo"><img alt="Fork me on GitHub" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" style="position: absolute; top: 0; right: 0; border: 0; z-index:1000"></a>
	</div><!-- Navbar -->
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle" data-target="#myNavbar" data-toggle="collapse" type="button"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button> <img src="../assets/logo.svg" style="width: 70px;"> <a class="navbar-brand" href="../index.html">react-geo</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-center">
					<li>
						<a href="../docs/@terrestris/react-geo/__VERSION__/index.html">Docs</a>
					</li>
					<li>
						<a href="../examples/index.html">Examples</a>
					</li>
					<li id="gh-link">
						<a href="https://github.com/terrestris/react-geo">Github</a>
					</li>
				</ul>
			</div>
		</div>
	</nav><!-- First Container -->
	<div class="container-fluid example-list">
		<h2>{{ title }}</h2>{{{ contents }}}
		<ul>
			<li style="list-style: none">{{#each collections}} {{#each this}}</li>
			<li>
				<a href="{{%20path%20}}">{{ title }}</a><br>
				{{ description }}
			</li>
			<li style="list-style: none">{{/each}} {{/each}}</li>
		</ul>
	</div><!-- Footer -->
	<footer class="container-fluid-footer bg-4 text-center"></footer>
</body>
</html>
